
<template name="arenas">

  <h2>Connect to an existing Arena:</h2>

  <div class="arena_list">
    {{#each arenas}}
      {{> arena}}
    {{/each}}
  </div>


  <h2>Create a new Arena:</h2>
  {{>new_arena}}

</template>


<template name="arena">
  <div class="arena">
    <a href="{{pathFor 'arenas_show' _id=this._id}}" class="name">{{name}}</a>
  </div>
</template>


<template name="new_arena">
  <div class="new_arena">
    <input id="new_arena_name" type="text" />
    <input type="button" class="add" value="Create Arena" />
  </div>
</template>

